In [29]:
import pandas as pd
from _02_preprocessing.preprocessing import data_1_json2df, data_2_json2df, data_3_json2df

In [30]:
df=pd.read_csv('raw_data/StationCode_mapper.csv',index_col=0)

subwayline = '2호선'
stationname = '강남역'
dow = 'MON'
hh = '08'

station_code=df[(df['subwayLine']==subwayline) & (df['stationName']==stationname)]['stationCode'].values[0]

In [31]:
def set_time(df):
    df['time'] = df['hh']+df['mm']
    df['time']=pd.to_datetime(df['time'],format='%H%M')
    return df

In [32]:
df_1 = data_1_json2df(station_code,dow,hh)
df_1['congestionTrain']=df_1['congestionTrain'].apply(lambda x: x if x!=0 else None)
df_1.dropna(inplace=True)
df_1=set_time(df_1)

df_2 = data_2_json2df(station_code,dow,hh)
for i in range(len(df_2['congestionCar'][0])):
    df_2[f'혼잡도_{i+1}번칸'] = df_2['congestionCar'].apply(lambda x : x[i])
df_2['congestionCar']=df_2['congestionCar'].apply(lambda x: sum(x) if sum(x) !=0 else None)
df_2.dropna(inplace=True)
df_2=set_time(df_2)


df_3 = data_3_json2df(station_code,dow,hh)
for i in range(len(df_3['getOffCarRate'][0])):
    df_3[f'하차수_{i+1}번칸'] = df_3['getOffCarRate'].apply(lambda x : x[i])
df_3['getOffCarRate']=df_3['getOffCarRate'].apply(lambda x: sum(x) if sum(x) !=0 else None)
df_3.dropna(inplace=True)
df_3=set_time(df_3)

In [9]:
df_1.groupby('time')['congestionTrain'].mean()

time
1900-01-01 08:00:00    105.75
1900-01-01 08:10:00    127.25
1900-01-01 08:20:00    119.20
1900-01-01 08:30:00    145.20
1900-01-01 08:40:00    137.20
1900-01-01 08:50:00    117.20
Name: congestionTrain, dtype: float64

In [12]:
df_2.groupby('time')['혼잡도_1번칸',
       '혼잡도_2번칸', '혼잡도_3번칸', '혼잡도_4번칸', '혼잡도_5번칸', '혼잡도_6번칸', '혼잡도_7번칸',
       '혼잡도_8번칸', '혼잡도_9번칸', '혼잡도_10번칸'].mean()

/var/folders/r1/58cpj4hx7j75vx_3j1y6vpvw0000gn/T/ipykernel_34260/776280729.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_2.groupby('time')['혼잡도_1번칸',

,혼잡도_1번칸,혼잡도_2번칸,혼잡도_3번칸,혼잡도_4번칸,혼잡도_5번칸,혼잡도_6번칸,혼잡도_7번칸,혼잡도_8번칸,혼잡도_9번칸,혼잡도_10번칸
time,,,,,,,,,,
1900-01-01 08:00:00,94.25,107.25,111.25,124.0,108.25,125.75,112.50,108.50,93.75,71.0
1900-01-01 08:10:00,113.25,127.75,129.25,155.0,141.75,141.75,135.25,134.25,113.25,81.5
1900-01-01 08:20:00,101.20,118.00,129.80,144.8,133.00,130.60,128.20,122.80,102.80,80.6
1900-01-01 08:30:00,120.00,147.20,149.00,183.6,154.60,161.40,153.40,162.80,125.40,94.4
1900-01-01 08:40:00,119.60,140.00,142.40,159.8,155.80,149.20,148.00,154.20,119.40,83.6
1900-01-01 08:50:00,92.00,117.80,112.80,139.0,128.80,125.40,136.40,135.00,105.40,80.0

In [15]:
df_3.groupby('time')['하차수_1번칸',
       '하차수_2번칸', '하차수_3번칸', '하차수_4번칸', '하차수_5번칸', '하차수_6번칸', '하차수_7번칸',
       '하차수_8번칸', '하차수_9번칸', '하차수_10번칸'].mean()

/var/folders/r1/58cpj4hx7j75vx_3j1y6vpvw0000gn/T/ipykernel_34260/3691622221.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_3.groupby('time')['하차수_1번칸',

,하차수_1번칸,하차수_2번칸,하차수_3번칸,하차수_4번칸,하차수_5번칸,하차수_6번칸,하차수_7번칸,하차수_8번칸,하차수_9번칸,하차수_10번칸
time,,,,,,,,,,
1900-01-01 08:00:00,5.222222,9.722222,7.722222,13.500000,14.000000,13.444444,14.222222,7.777778,9.722222,4.444444
1900-01-01 08:10:00,5.722222,9.722222,7.333333,13.388889,13.500000,13.111111,14.277778,7.833333,10.555556,4.777778
1900-01-01 08:20:00,5.777778,10.111111,7.333333,13.277778,13.444444,12.388889,13.666667,8.777778,10.555556,4.444444
1900-01-01 08:30:00,5.777778,9.722222,7.444444,12.944444,13.444444,12.722222,14.111111,8.777778,10.666667,4.666667
1900-01-01 08:40:00,6.277778,9.888889,7.666667,13.444444,12.888889,12.388889,14.000000,9.166667,10.444444,4.166667
1900-01-01 08:50:00,6.388889,10.222222,7.388889,13.277778,12.222222,12.444444,14.000000,8.777778,10.444444,4.111111